<apex:page controller="TpExportPointController">
    <apex:form >
    	<apex:pageBlock >
        	<apex:pageBlockButtons >
            	<apex:commandButton value="GO" reRender="groups" />
            </apex:pageBlockButtons>
        	<apex:pageBlockSection >
            	<apex:selectList value="{!selectedReportId}">
                    <apex:selectOptions value="{!allReportOptions}" />
                </apex:selectList>
            </apex:pageBlockSection>
            <apex:pageBlockSection id="groups" columns="1">
                {!reportType}
                <apex:pageBlockTable value="{!groups}" var="g">
                	<apex:column >{!g}</apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>